@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&family=Roboto+Condensed:wght@100;400&display=swap');
/* font-family: 'League Spartan', sans-serif; */
/* font-family: 'Roboto Condensed', sans-serif; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;
}

:root {
    --nav-bg-color: #E3E6F3;
    --nav-primary-color: #1a1a1a;
    --nav-secondry-color: #088178;
}

h1 {
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h2 {
    font-size: 46px;
    line-height: 54px;
    color: #222;
}

h4 {
    font-size: 20px;
    color: #222;
}

h6 {
    font-size: 12px;
    font-weight: 700;
}

p {
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}

.p1 {
    padding: 40px 80px;
}

.m1 {
    margin: 40px 0;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.center {
    max-width: 100%;
    margin: 0 auto;
}

.image img {
    width: 100%;
    object-fit: cover;
}


/* Navbar Section */
#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;
    background: var(--nav-bg-color);
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a {
    text-decoration: none;
    font-size: 16px;
    color: var(--nav-primary-color);
    font-weight: 600;
    transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active {
    color: var(--nav-secondry-color);
}

#navbar li a.active::after,
#navbar li a:hover::after {
    content: "";
    width: 40%;
    height: 2px;
    background: var(--nav-secondry-color);
    position: absolute;
    bottom: -3px;
    left: 20px;
}

/* Hero Section */

#hero-section {
    background-image: url(img//hero4.png);
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top 25% right 0%;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#hero-section h4 {
    padding-bottom: 15px;
}

#hero-section h1 {
    color: var(--nav-secondry-color);
}

#hero-section button {
    background-image: url(img//button.png);
    background-color: transparent;
    color: var(--nav-secondry-color);
    border: none;
    padding: 14px 80px 14px 65px;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    background-repeat: no-repeat;
}

/*---------------- Feature Section------------ */

#feature {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.feature-box {
    position: relative;
    width: 180px;
    padding: 12px 12px 15px 12px;
    box-shadow: 0px 0px 15px rgb(0, 0, 0.06);
    border-radius: 10px;
    margin: 15px 15px;
}

.feature-box img {
    width: 100%;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
}

.feature-box:hover img {
    transform: scale(1.07);
}

.feature-box h6 {
    text-align: center;
    padding: 7px 10px;
    line-height: 1;
    border-radius: 5px;
    color: #088178;
    background-color: #fddde4;
    margin-top: 25px;
    display: inline-block;
}

.section-padding {
    padding: 40px 80px;
}

.feature-title {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Feature Product Section */

